<!-- commercial-service.component.html -->
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-0m1rrVZ6tTf3iWxPFjKk3bBGQyTcVxJdLrGk+MxIEgUWKCxwC8K62ZtZn+UJHlKjZwvOaXTN3HqyJEZ4jH9i1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>

<div class="commercial-service-container">
  <div class="back-link-container">
    <a class="back-link" routerLink="/services"> &larr; Back to Services </a>
  </div>

  <div class="content">
    <img
      src="https://via.placeholder.com/800x400"
      alt="Commercial Cleaning"
      class="service-image"
    />
    <div class="description">
      <h1>Commercial Cleaning</h1>
      <p>
        Our commercial cleaning services provide expert solutions for your
        business. Whether you need regular maintenance or a one-time deep clean,
        our experienced team is here to help you maintain a spotless work
        environment.
      </p>
      <ul>
        <li>Office cleaning</li>
        <li>Restroom sanitation</li>
        <li>Floor care (vacuuming, mopping, waxing)</li>
        <li>Window cleaning</li>
        <li>Trash removal</li>
        <li>And much more!</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <mat-card routerLink="/services/residential-cleaning">
        <i class="fa-solid fa-house" style="color: #f7c8e0"></i>
        <mat-card-title> Residential Cleaning </mat-card-title>
        <mat-card-subtitle>
          Thorough cleaning services for your home.
        </mat-card-subtitle>
      </mat-card>
      <mat-card routerLink="/services/apartment-cleaning">
        <i class="fa-solid fa-building" style="color: #f7c8e0"></i>
        <mat-card-title> Apartment Cleaning </mat-card-title>
        <mat-card-subtitle>
          Cleaning services tailored for apartments.
        </mat-card-subtitle>
      </mat-card>
      <mat-card routerLink="/services/one-time-cleaning">
        <i class="fa-regular fa-calendar-check" style="color: #f7c8e0"></i>
        <mat-card-title> One Time Cleaning </mat-card-title>
        <mat-card-subtitle>
          Perfect for special occasions or deep cleans.
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div class="row">
      <mat-card routerLink="/services/special-event-cleaning">
        <i class="fa-solid fa-champagne-glasses" style="color: #f7c8e0"></i>
        <mat-card-title> Special Event Cleaning </mat-card-title>
        <mat-card-subtitle>
          Ensure your event space is spotless.
        </mat-card-subtitle>
      </mat-card>
      <mat-card routerLink="/services/construction-cleaning">
        <i class="fa-solid fa-hard-hat" style="color: #f7c8e0"></i>
        <mat-card-title> Construction Cleaning </mat-card-title>
        <mat-card-subtitle>
          Post-construction clean-up and debris removal.
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>
