<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-0m1rrVZ6tTf3iWxPFjKk3bBGQyTcVxJdLrGk+MxIEgUWKCxwC8K62ZtZn+UJHlKjZwvOaXTN3HqyJEZ4jH9i1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<div>
  <mat-card-title class="title"> Our Services </mat-card-title>
</div>
<div class="container">
  <mat-card>
    <i class="fa-solid fa-house" style="color: #f7c8e0;"></i>
    <mat-card-title> Residential Cleaning </mat-card-title>
    <mat-card-subtitle>
      Know somebody that would appreciate a cleaning? Surprise them with a gift!
    </mat-card-subtitle>
  </mat-card>
  <mat-card>
    <i class="fa-solid fa-building" style="color: #f7c8e0;"></i>    
    <mat-card-title> Commercial Cleaning </mat-card-title>
    <mat-card-subtitle>
      Know somebody that would appreciate a cleaning? Surprise them with a gift!
    </mat-card-subtitle>
  </mat-card>
  <mat-card>
    <i class="fa-regular fa-calendar-check" style="color: #f7c8e0;"></i>
    <mat-card-title> One Time Cleaning </mat-card-title>
    <mat-card-subtitle>
      Know somebody that would appreciate a cleaning? Surprise them with a gift!
    </mat-card-subtitle>
  </mat-card>
  <mat-card>
    <i class="fa-solid fa-champagne-glasses" style="color: #f7c8e0;"></i>
    <mat-card-title> Special Event Cleaning </mat-card-title>
    <mat-card-subtitle>
      Know somebody that would appreciate a cleaning? Surprise them with a gift!
    </mat-card-subtitle>
  </mat-card>
</div>
