.search-bar-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the scrollbars for invoice-container, user-container, and consultation-container */
.invoice-container,
.user-container,
.consultation-container {
  height: calc(100vh - 150px); /* Adjust this value based on your layout */
  overflow-y: auto; /* Enable vertical scrolling */
  width: 100%; /* Ensure all containers have the same width */
}

.invoice-container::-webkit-scrollbar,
.user-container::-webkit-scrollbar,
.consultation-container::-webkit-scrollbar {
  width: 10px;
}

.invoice-container::-webkit-scrollbar-track,
.user-container::-webkit-scrollbar-track,
.consultation-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.invoice-container::-webkit-scrollbar-thumb,
.user-container::-webkit-scrollbar-thumb,
.consultation-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.invoice-container::-webkit-scrollbar-thumb:hover,
.user-container::-webkit-scrollbar-thumb:hover,
.consultation-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Specific styling for user-container */
.user-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Use auto-fill for responsive columns */
  gap: 20px;
  padding: 20px;
  width: 100%; /* Ensure the container spans the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px; /* Make the blocks squares */
  height: 200px;
  background-color: #f0f4ff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.profile-pic-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  text-align: center;
}

/* Override Angular Material tab label color */
::ng-deep .mat-tab-label,
::ng-deep .mat-tab-link {
  color: black !important;
}

/* Override Angular Material tab underline color */
::ng-deep .mat-ink-bar {
  background-color: rgb(149, 189, 255) !important;
}

/* Ensure mat-tab-group spans the full width */
mat-tab-group {
  width: 100%;
}

/* Ensure mat-tab-body has a consistent width */
::ng-deep .mat-tab-body-content {
  min-width: 100%; /* Ensure the width is consistent across tabs */
}
