.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 230, 255, 0.151);
  height: 100vh;
}

mat-card {
  width: 25em;
  background-color: white;
  color: rgb(129, 129, 129);
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputs {
  margin-top: 20px;
  margin-bottom: 0px;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-checkbox-background {
  border: 1px solid black;
}


::ng-deep .mat-form-field-flex {
  background-color: white !important;
  border: 1px solid black;
  border-radius: 3px !important;
}

::ng-deep .mat-form-field-label,
::ng-deep .mat-placeholder,
::ng-deep .mat-input-element::placeholder {
  color: rgb(77, 77, 77) !important;
}

::ng-deep .mat-input-element {
  caret-color: black !important;
  max-width: 90% !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-flex {
  border-color: rgb(149, 189, 255);
  box-shadow: 0 0 5px rgb(149, 189, 255);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field:hover .mat-form-field-underline::before {
  display: none;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-underline::after {
  display: none;
}

::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: black !important;
}

.login-button {
  width: 100%;
  color: white;
  background-color: rgb(247, 200, 224);
  margin: 10px 0;
}

.login-button:hover {
  background-color: rgb(255, 213, 235);
}

.account-button {
  width: 100%;
  color: white;
  background-color: rgb(149, 189, 255);
  margin: 20px 0;
}

.account-button:hover {
  background-color: rgb(180, 228, 255);
}

mat-checkbox.custom-checkbox .mat-checkbox-frame {
  border: 1px solid rgb(77, 77, 77) !important;
}

.google-login-button,
.facebook-login-button {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(211, 230, 255, 0.151);
  color: black;
}

.google-login-button:hover,
.facebook-login-button:hover {
  background-color: rgba(211, 230, 255, 0.384);
}

mat-divider {
  background-color: rgb(194, 194, 194);
}
