<div class="container">
  <mat-card>
    <div class="content">
      <mat-card-header> </mat-card-header>
      <!-- Add Google and Facebook login buttons with icons -->
      <div>
        <button mat-button class="google-login-button">
          <i class="fab fa-google"></i>
          <span class="google-text"> Sign in with Google</span>
        </button>
      </div>
      <div>
        <button mat-button class="facebook-login-button">
          <i class="fab fa-facebook-f"></i> Sign in with Facebook
        </button>
      </div>

      <mat-divider></mat-divider>

      <mat-card-content>
        <div class="inputs">
          <mat-form-field class="username-email" appearance="fill">
            <mat-label>Username or email</mat-label>
            <input matInput type="email" name="email" required>
          </mat-form-field>
          <mat-form-field class="password" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" required>
          </mat-form-field>
        </div>

        <button mat-button type="submit" class="login-button">Login</button>
        <button mat-button type="submit" class="forgot-password">
          Forgot password?
        </button>

        <mat-divider></mat-divider>
        <button mat-button type="submit" class="account-button">
          Create new account
        </button>
      </mat-card-content>
    </div>
  </mat-card>
</div>
