.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(211, 230, 255, 0.151);
}

mat-card {
    width: 25em;
    background-color: white;
    color: rgb(129, 129, 129);
    margin-top:-15%;
    ;
}

mat-form-field {
    margin-bottom: -10px;
}

mat-form-field input{
    margin-bottom: 5px;
    width: 320px;
    font-size: 1.2em;
    padding: .8em;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(247, 200, 224);
    margin-bottom: 10px;
}

.account-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: rgb(149, 189, 255);
    margin: 0 auto;
    margin-bottom: 10px;
}

.forgot-password {
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
}

mat-divider {
    color: black;
}