<form class="search-form" (ngSubmit)="onSearch()">
    <div class="search-bar-container">
      <!-- Full Name Field -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Full Name</mat-label>
        <input
          type="text"
          matInput
          [formControl]="nameControl"
          [matAutocomplete]="autoName"
        />
        <mat-autocomplete #autoName="matAutocomplete">
          <mat-option *ngFor="let name of filteredNames | async" [value]="name">
            <mat-checkbox
              [checked]="isNameSelected(name)"
              (change)="toggleNameSelection(name)"
            ></mat-checkbox>
            {{ name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  
      <!-- Email Field -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Email</mat-label>
        <input
          type="text"
          matInput
          [formControl]="emailControl"
          [matAutocomplete]="autoEmail"
        />
        <mat-autocomplete #autoEmail="matAutocomplete">
          <mat-option
            *ngFor="let email of filteredEmails | async"
            [value]="email"
          >
            <mat-checkbox
              [checked]="isSelected(email)"
              (change)="toggleSelection(email)"
            ></mat-checkbox>
            {{ email }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  
      <!-- Gender Field -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Gender</mat-label>
        <mat-select [formControl]="genderControl">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Keyword Search Field -->
      <mat-form-field appearance="fill" class="input-field keyword-field">
        <mat-label>Enter keyword</mat-label>
        <input
          type="text"
          matInput
          [formControl]="keywordControl"
          [matAutocomplete]="autoKeyword"
        />
        <mat-autocomplete #autoKeyword="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  
      <!-- Search Button -->
      <button mat-raised-button type="submit" class="search-button">
        Search
      </button>
    </div>
  </form>
  