.home-card {
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: none;
}

.home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zip-card {
  position: absolute;
  top: 10px;
  left: 0px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.find-maids {
  color: black;
  background-color: rgb(223, 255, 216);
  transform: scale(1.2);
  margin-left: 12px;
}

.find-maids:hover {
  background-color: rgb(203, 255, 192);
}

.zip-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  top: 250px;
  color: white;
  background-color: rgb(149, 190, 255);
  margin: 0 auto;
  box-shadow: none;
}

.zip-form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-title {
  color: white;
  font-size: xx-large;
  margin-bottom: 30px;
}

mat-card-subtitle {
  font-size: large;
  margin-bottom: 0px;
}

mat-form-field {
  margin-right: 20px;
  margin-top: 9px;
}

mat-form-field input {
  font-size: 1em;
  padding: 0.8em;
}

.zip-input {
  border-radius: 4px;
  padding: 10px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgb(red, green, blue);
  border: 1px solid black;
  background-color: transparent;
  background-color: white;
}



.zip-input::placeholder {
  color: #000000;
  opacity: 1;
}

.mat-form-field-underline {
  display: none !important;
}
