/* service-cards.component.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 5em;
    text-align: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  mat-card:hover {
    background-color: rgb(180, 228, 255);
    cursor: pointer;
  }
  
  mat-card {
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: rgb(149, 189, 255);
    margin: 0 10px;
  }
  
  .title {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    color: rgb(149, 189, 255);
  }
  
  i {
    margin-bottom: 60px;
    transform: scale(4);
  }
  