.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar-button {
  margin-right: 20px;
  color: rgb(149, 189, 255);
}
.navbar-button:hover {
  margin-right: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(149, 189, 255);
}

.consult-button {
  background-color: rgb(223, 255, 216);
  color: rgb(0, 0, 0);
  margin-right: 20px;
}
.consult-button:hover {
  background-color: rgb(203, 255, 192);
  color: rgb(0, 0, 0);
}

.auth-button {
  margin-right: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(149, 189, 255);
}

.auth-button:hover {
  text-decoration: underline;
}

.top-right-buttons {
    display: flex;
    margin-right: 10px;
}


img {
  width: 10%;
  height: auto;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

div {
  background-color: rgb(255, 255, 255);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgb(149, 189, 255);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: rgb(180, 228, 255);
  border-radius: 0;
}

.services-button.hover {
  margin-right: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(149, 189, 255);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.services-button:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
