<!-- nav-bar.component.html -->
<div class="navbar-container">
  <img src="https://maidgroup-bucket.s3.amazonaws.com/MaidGroup-Logo-Final-sin-fondo.png" alt="Maid Group Logo" class="logo">
  <div class="nav-links">
    <a routerLinkActive="active" routerLink="/home">Home</a>
    <a routerLinkActive="active" routerLink="/invoices">Invoices</a>
    <div class="dropdown">
      <a routerLinkActive="active" routerLink="/services" class="services-button">Services</a>
      <div class="dropdown-content">
        <a routerLinkActive="active" routerLink="/services/residential-cleaning">Residential Cleaning</a>
        <a routerLinkActive="active" routerLink="/services/commercial-cleaning">Commercial Cleaning</a>
        <a routerLinkActive="active" routerLink="/services/apartment-cleaning">Apartment Cleaning</a>
      </div>
    </div>
    <a routerLinkActive="active" routerLink="/about-us">About Us</a>
    <a routerLinkActive="active" routerLink="/contact-us">Contact Us</a>
    <a routerLinkActive="active" routerLink="/faqs">FAQs</a>
  </div>
  <div class="auth-buttons">
    <a routerLinkActive="active" routerLink="/consultation" class="consult-button">Request Free Consultation</a>
    <a routerLinkActive="active" routerLink="/login" class="auth-button">Login</a>
    <a routerLinkActive="active" routerLink="/register" class="auth-button">Sign up</a>
  </div>
</div>
