<div class="container">
  <mat-card>
    <div class="content">
      <mat-card-title style="color: black">
        Schedule your free consultation</mat-card-title
      >
      <mat-card-subtitle style="color: rgb(119, 119, 119)"
        >It's quick and easy.</mat-card-subtitle
      >

      <mat-divider></mat-divider>

      <div class="inputs">
        <input type="text" name="firstName" required placeholder="First name" />
        <input type="text" name="lastName" required placeholder="Last name" />
      </div>
      <div class="row2-inputs">
        <input
          type="email"
          name="email"
          required
          placeholder="maids@example.com"
        />

        <input
          class="phone-number"
          type="text"
          mask="(000) 000-0000"
          name="phone-number"
          required
          placeholder="Phone number"
        />
        <mat-icon matSuffix class="icon">phone</mat-icon>
      </div>
      <div class="row3-inputs">
        <mat-form-field floatLabel="never">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a date"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #picker
            startView="year"
            [startAt]="selected"
          ></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="time">
          <mat-label>Select a time</mat-label>
          <mat-select [disabled]="disableSelect">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>

      <mat-divider></mat-divider>

      <button mat-button type="submit" class="submit-button">
        Submit Consultation
      </button>
    </div>
  </mat-card>
</div>
