.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(211, 230, 255, 0.151);
}

mat-card {
  width: 40em;
  background-color: rgb(223, 255, 216);
  color: rgb(129, 129, 129);
  margin-top: -15%;
}

mat-divider {
  background-color: rgb(194, 194, 194);
  margin-bottom: 30px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: white;
  background-color: rgb(149, 189, 255);
  margin: 0 auto;
  margin-bottom: 10px;
}

.submit-button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: rgb(180, 228, 255);
  margin: 0 auto;
  margin-bottom: 10px;
}

.inputs {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 30px;
  display: flex;
}

.inputs input {
  margin-bottom: 0px;
  width: 320px;
  font-size: 1.2em;
  padding: 0.8em;
  margin-right: 10px;
}

.row2-inputs {
  margin-top: -20px;
  margin-bottom: 10px;
  padding-top: 30px;
  display: flex;
}

.row2-inputs input {
  margin-bottom: 5px;
  width: 240px;
  font-size: 1.2em;
  padding: 0.8em;
  margin-right: 10px;
}

.icon {
  position: absolute;
  top: 184px;
  right: 40px;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
}

.row3-inputs input {
  width: 240px;
  margin-right: 10px;
}

 .row3-inputs mat-form-field {
  width:60%;  
 }

.row3-inputs mat-datepicker-toggle {
  position: absolute;
  right: 55px;
}

.mat-input-element {
  font-size: 1.2em;
  background-color: white;
  padding: 10px;
  border: 1px solid #757575;
}

::ng-deep .mat-form-field-underline {
  display: none;
}