.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(211, 230, 255, 0.151);
}

mat-card {
  width: 40em;
  background-color: rgb(223, 255, 216);
  color: rgb(129, 129, 129);
  margin-top: -15%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for visibility */
}

mat-divider {
  background-color: rgb(194, 194, 194);
  margin-bottom: 30px;
}

.submit-button {
  width: 100%;
  color: white;
  background-color: rgb(149, 189, 255);
  margin: 20px 0;
}

.submit-button:hover {
  background-color: rgb(180, 228, 255);
}

.all-boxes {
  margin-top: 20px;
  margin-bottom: 15px;
}

.inputs,
.row2-inputs,
.row3-inputs,
.row4-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
  padding-top: 10px; /* Reduced vertical spacing */
}

.inputs mat-form-field,
.row2-inputs mat-form-field,
.row3-inputs mat-form-field {
  width: 48%;
}

/* Add a white background and a border radius to the input fields */
::ng-deep .mat-form-field-flex {
  background-color: white !important;
  border: 1px solid black;
  border-radius: 3px !important;
}

/* Change the color of the placeholders to a darker grey */
::ng-deep .mat-form-field-label,
::ng-deep .mat-placeholder,
::ng-deep .mat-input-element::placeholder {
  color: rgb(77, 77, 77) !important;
}

::ng-deep .mat-input-element {
  caret-color: black !important;
  max-width: 90% !important;
}

/* Add a glow when the input is selected */
::ng-deep .mat-form-field.mat-focused .mat-form-field-flex {
  border-color: rgb(149, 189, 255);
  box-shadow: 0 0 5px rgb(149, 189, 255);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent !important;
}

/* Remove the underline when the input is unselected */
::ng-deep .mat-form-field-underline {
  display: none;
}

/* Remove the underline when the input is hovered */
::ng-deep .mat-form-field:hover .mat-form-field-underline::before {
  display: none;
}

/* Remove the underline when the input is selected */
::ng-deep .mat-form-field.mat-focused .mat-form-field-underline::after {
  display: none;
}

/* Change the color of the text to black when typing */
::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: black !important;
}

.row4-inputs .message-field {
  width: 100%;
}
