<div class="container">
  <mat-card>
    <div class="content">
      <mat-card-title style="color: black">
        Schedule your free consultation</mat-card-title
      >
      <mat-card-subtitle style="color: rgb(119, 119, 119)"
        >It's quick and easy.</mat-card-subtitle
      >

      <mat-divider></mat-divider>

      <div class="inputs">
        <input type="text" name="firstName" required placeholder="First name" />
        <input type="text" name="lastName" required placeholder="Last name" />
      </div>
      <div class="row2-inputs">
        <input
          type="email"
          name="email"
          required
          placeholder="maids@example.com"
        />

        <input
          class="phone-number"
          type="text"
          mask="(000) 000-0000"
          name="phone-number"
          required
          placeholder="Phone number"
        />
        <mat-icon matSuffix class="icon">phone</mat-icon>
      </div>
      <div class="row3-inputs">
        <mat-form-field appearance="fill">
          <mat-label style="color: grey; font-size: 1.2em;" >Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint style="color: grey;">MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker" style="color: grey;"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
      </div>
      <mat-divider></mat-divider>

      <button mat-button type="submit" class="submit-button">
        Submit Consultation
      </button>
    </div>
  </mat-card>
</div>
