<!-- app-footer.component.html -->
<mat-toolbar class="footer">
  <div class="footer-container">
    <div class="logo-contact">
      <div class="logo">
        <img
          src="https://maidgroup-bucket.s3.amazonaws.com/MaidGroup-Logo-Final-sin-fondo.png"
          alt="MaidGroup Logo"
        />
      </div>
      <div class="contact">
        <p>(301) 938-4728</p>
      </div>
    </div>
    <div class="links">
      <a mat-button href="#">Commercial</a>
      <a mat-button href="#">Residential</a>
      <a mat-button href="#">Link 3</a>
      <a mat-button href="#">Link 4</a>
      <a mat-button href="#">Link 5</a>
      <a mat-button href="#">Link 6</a>
      <a mat-button href="#">Link 7</a>
      <a mat-button href="#">Link 8</a>
      <a mat-button href="#">Link 9</a>
    </div>
    <div class="social-icons">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter-x"></i>
      <i class="bi bi-youtube"></i>
    </div>
  </div>
</mat-toolbar>
