<div class="panel-container">
  <mat-card class="invoice-card">
    <mat-card-header>
      <div mat-card-avatar class="icon-container">
        <mat-icon>description</mat-icon>
      </div>
      <mat-card-title>
        <span class="invoice-title">Invoice #123456</span>
        <span class="invoice-date">November 4, 2023</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="grid-container">
        <div class="grid-item"><span class="bold-text">Full Name:</span> kevinlemus</div>
        <div class="grid-item"><span class="bold-text">Location:</span> Clarksburg, MD</div>
        <div class="grid-item"><span class="bold-text">Service:</span> House Cleaning</div>
      </div>
      <div class="grid-container">
        <div class="grid-item"><span class="bold-text">Email:</span> kevinlemus@gmail.com</div>
        <div class="grid-item"><span class="bold-text">Phone Number:</span> (301) 938 - 4728</div>
        <div class="grid-item"><span class="bold-text">Total:</span> $320.00</div>
      </div>
      <div class="bottom-text">
        Additional information may be provided in the invoice details.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="details-button">DETAILS</button>
      <button mat-button class="print-button">PRINT</button>
    </mat-card-actions>
  </mat-card>
</div>
